:root {
  --main-bg-color: #def2f1;
  --secondary-bg-color: #3aafa9;
  --dark-color: #17252a;
  --light-color: #feffff;
  --main-dark-color: #2b7a78;
  --gradient-color-1: #3494e6; /* Start color of the gradient */
  --gradient-color-2: #ec6ead; /* End color of the gradient */
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2));
  color: var(--light-color); /* Set text color to a light color for better visibility */
}
