<h2 mat-dialog-title class="mat-h2 dialog-title">Избери метод на плаќање</h2>
<mat-dialog-content class="mat-dialog-content dialog-content">
  <p class="mat-body-1 body-text">Искористи ги бенефитите! Избери го твојот претпочитан начин на плаќање:</p>
</mat-dialog-content>
<mat-dialog-actions class="mat-dialog-actions dialog-actions">
  <button mat-button class="mat-raised-button mat-primary cash-button" (click)="payInCash()">💵 Плати во кеш</button>
  <button mat-button class="mat-raised-button mat-accent online-button" (click)="payOnline()">💳 Плати онлајн</button>
</mat-dialog-actions>
