.login-form {
  width: 350px;
  padding: 30px;
  margin: auto;
  background-color: var(--light-color);
  color: var(--dark-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.login-form form {
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group-text {
  background-color: var(--light-color);
  border: none;
}

.btn-primary {
  background-color: var(--main-dark-color); /* Change the button color */
  border: none;
}

.btn-primary:hover {
  background-color: #2b7a78; /* Darker color on hover */
}

.link-dark {
  text-decoration: none;
  color: var(--dark-color);
}

.link-dark:hover {
  text-decoration: underline;
}
