<div class="dashboard-container">
  <div class="map-container">
    <app-map></app-map>
  </div>

  <div class="search-container">
    <button class="dashboard-btn" (click)="onClick()">
      {{ createReservation ? "Назад" : "Постави Резервација" }}
    </button>

    <div *ngIf="!createReservation" class="search-content">
      <app-search></app-search>
    </div>

    <div *ngIf="createReservation" class="reservation-form-content">
      <app-reservation-form></app-reservation-form>
    </div>
  </div>
</div>
