.register-form {
  padding: 30px;
  margin: auto;
  background-color: var(--light-color);
  color: var(--dark-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.rider {
  max-width: 350px;
  transition-delay: 50ms;
  transition-duration: 150ms;
}

.driver {
  max-width: 700px;
  transition-duration: 100ms;
}

.btn-outline-dark {
  background-color: var(--light-color);
  transition: background-color 0.3s ease-in-out;
}

.btn-outline-dark i {
  margin-right: 8px;
}

input {
  background-color: var(--light-color);
  transition: background-color 0.3s ease-in-out;
}

input:focus {
  background-color: #f8f9fa;
}

.btn-outline-dark {
  background-color: var(--main-bg-color);
  border: none;
}

.btn-check:checked + .btn {
  background-color: var(--main-dark-color) !important;
}

.btn-custom {
  color: white;
  background-color: var(--main-dark-color) !important;
}
