<section class="search-sec px-2 pt-2">
  <div class="container p-0">
    <div class="row">
      <div class="col-lg-6 pe-lg-2 mb-2 mb-lg-0">
        <input (keydown.enter)="getReservations()" [formControl]="searchField" type="search"
               class="form-control rounded-0" placeholder="Внеси дестинација на тргнување...">
      </div>

      <div class="col-lg-6 ps-lg-2">
        <input (keydown.enter)="getReservations()" [formControl]="searchField2" type="search"
               class="form-control rounded-0" placeholder="Внеси дестинација на пристигнување...">
      </div>

      <div class="col-12 mt-2">
        <button type="button" class="btn form-control rounded-0 btn-custom" (click)="getReservations()">Пребарување
        </button>
      </div>
    </div>
  </div>
</section>

<div *ngIf="loading" class="d-flex align-items-center justify-content-center h-50">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Ве молиме почекајте...</span>
  </div>
</div>

<div *ngIf="reservations.length == 0 && !loading" class="container mt-2">
  <span class="text-muted">Во моментот нема активни резервации</span>
</div>

<div *ngIf="!loading && reservations.length != 0" class="container mt-2">
  <app-reservation [reservationsR]="reservations"></app-reservation>
</div>
