.reservation:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.list-group-item {
    background-color: var(--main-bg-color);
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.alert {
    margin: 8px 16px;
}