/* Apply the Angular Material theme to the entire dialog */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.dialog-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.dialog-content {
  padding: 10px 0;
  text-align: center; /* Center-align the paragraph */
}

.body-text {
  font-size: 1rem;
  color: #666; /* Use a default text color or update it based on your design */
}

.dialog-actions {
  display: flex;
  justify-content: center; /* Center-align the buttons */
}

.cash-button, .online-button {
  border-radius: 8px; /* Add rounded corners for a modern look */
  margin: 0 8px; /* Reduce the margin between buttons */
}
