<mat-toolbar class="header-toolbar" color="primary">
  <span class="navbar-brand"><a routerLink="/">CoRide</a></span>
  <span class="spacer"></span>
  <div *ngIf="!isLoggedIn" class="button-group">
    <button mat-raised-button class="register-button" color="accent">Регистрирај се</button>
    <button mat-raised-button class="login-button" color="primary" routerLink="/login">Најави се</button>
  </div>
  <div *ngIf="isLoggedIn && loggedInUser" class="navbar-nav">
    <div class="d-flex align-items-center">
      <span class="user-email" mat-button routerLink="/profile">{{loggedInUser.email}}</span>
      <button mat-icon-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
