<form (ngSubmit)="onSubmit()" [formGroup]="stripeTest" class="payment-form">
  <div id="card-element" #card [hidden]="loading" class="card-element"></div>
  <div id="card-errors" role="alert" [hidden]="loading" class="error-message">{{error}}</div>

  <div class="form-group">
    <label for="name">Име:</label>
    <input type="text" id="name" formControlName="name" [disabled]="loading" class="form-control">
  </div>

  <button type="submit" [disabled]="loading" class="submit-button">Процесирај плаќање</button>
</form>
