footer {
  background: linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2));
  color: var(--light-color);
  padding: 10px;
  border-top: 2px solid var(--main-dark-color);
  margin-top: auto;
}

.link {
  color: var(--light-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
